<% title "Locations" %>

<%= form_tag locations_path, :method => :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search Near", :name => nil %>
	</p>
	<% end %>

<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% for location in @locations %>
    <tr>
      <td><%= location.address %></td>
      <td><%= location.latitude %></td>
      <td><%= location.longitude %></td>
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_location_path %></p>

<h2>Just click on add new location and just type in the address "XXXX, Singapore" and leave the long/lat blank, my script will auto find the long/lat for you. Also, click on Show to see nearby locations and the map. Wtf is cannot show distance between establishments Mr. Z.W Ecommerce Value. I hacked this up in 1 hour.</h2>